body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow-y: hidden;
}
.verfication-box {
    position: relative;
    width: 100%;
    max-width: 325px;
    border-radius: 1em;
    background: #333;
    padding: 1em 1.75em 1.75em;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 2.5em;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: whitesmoke;
}

.input-field {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0,0,0, 0.1);
}

.refresh_captcha {
    position: absolute;
    top: 50%;
    right: 10px;    
    transform: translateY(-50%);
    height: 2em;
    width: 2em;
    border: none;
    border-radius: 0.5rem;
    color: #333;
    cursor: pointer;
}

.refresh_captcha:active {
    transform: translateY(-50%) scale(0.97);
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0;
    border: 2px solid rgb(177, 0, 0);
}

.field-text input {
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 0;
    border: 2px solid rgb(255, 255, 255);
    height: 2rem;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    margin-top: 25px;
    background-color: rgba(0,0,0, 0.1);
}

.box-input input {  
   color: white;
   pointer-events: none;
   text-align: center;
   font-size: x-large;
   font-weight: 700;
} 

.box-input input:focus {  
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
} 

.user-message {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    color:#5ee25e;
    display: none;
}

.user-message.active {
    display:block;
}

.input-fieldB button {
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 2.5%;
    /* user-select: none; */
}

.input-fieldB button:active { 
    transform: scale(0.98);
}

.input-fieldB  button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.after-captcha {
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 10%;
    color: antiquewhite;
    /* bottom: 15%; */
}
.tick-finish {
    position: absolute;
    padding: 6px;
    bottom: 11.75%;
    /* bottom: 16.7%; */
    right: 22.5%;
}