* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.wrapper {
    height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
    perspective: 5px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-5px) scale(2.177);
    opacity: 99%;
}

/* .foreground {
    transform: translateZ(-1px) scale(1);
}

.foreground {
    position: absolute;
    height: 55%;
    width: 50%;
    object-fit: cover;
    z-index: 1;
} */

.warcraft3ndota {
    border: 4px solid black;
    padding: 0.512rem;
}
.starcraft2 {
    border: 4px solid black;
    padding: 0.512rem;
}
.WoW {
    border: 4px solid black;
    padding: 0.512rem;
}
.different-WoW-games {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}

.WoW-blurb {
    display: inline-block;
    position: absolute;
    width: max-content;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 135%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: start;
    font-size: medium;
    /* border: 2px solid red; */
}
.DoTA-blurb {
    display: inline-block;
    position: absolute;
    width: max-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 265%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: start;
    font-size: medium;
    /* border: 2px solid red; */
}
.SC2-blurb {
    display: inline-block;
    position: absolute;
    width: max-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 335%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: start;
    font-size: x-large;
    font-weight: 700;
    /* border: 2px solid red; */
}